<?xml version="1.0" encoding="UTF-8"?>
<Test>
	<version>1.0</version>		<!-- 版本 -->
	<mode>细粒度</mode>		<!-- 模式 -->
	
	<suitPath>./Resource/套件结果</suitPath>	<!-- 套件结果目录 -->
	<recPath>./Resource/引擎结果</recPath>		<!-- 引擎结果目录 -->
	
	<result>./Result</result>	<!-- 结果目录 -->
	<logPath>./Log</logPath>	<!-- 日志目录 -->
	<logLevel>2</logLevel>		<!-- 日志级别 1:debug,2:info,3:warning,4:error,5:critical , 数字越大日志越少-->
</Test>